<h3>Edit a Venue</h3>
<main>
  <form action="/venues/<%= _id %>?_method=PUT" method="post">
    <div class="">
      <label for="name">Name</label>
      <input type="text" name="name" value="<%= name %>" />
    </div>

    <div class="">
      <label for="address">Address</label>
      <input type="text" name="address" value="<%= address %>" />
    </div>

    <div class="">
      <label for="image">Image URL</label>
      <input type="text" name="image" value="<%= image %>" />
    </div>

    <div class="">
      <label for="website">Website URL</label>
      <input type="text" name="website" value="<%= website %>" />
    </div>

    <div class="">
      <label for="capacity">Capacity</label>
      <input type="number" name="website" value="<%= capacity %>" />
    </div>

    <div class="">
      <label for="closestTube">Closest Tube Station</label>
      <input type="text" name="closestTube" value="<%= closestTube %>" />
    </div>

    <div class="">
      <label for="description">Description</label>
      <textarea name="description" value="<%= description %>"></textarea>
    </div>

    <button class="button shreddit-button">Submit</button>
  </form>
</main>
