<main>
  <div class="columns is-multiline is-centered">
    <h2 class="column is-12 title is-2"><%= name %></h2>
    <div class="column is-12">
      <address><%= address %></address>
      <p><a href="<%= website %>" target="_blank">Website</a></p>
      <p>Capacity: <%= capacity %></p>
      <p>Closest Tube Station: <%= closestTube %></p>
      <div class="img-box">
        <img src="<%= image %>" alt="<%= name %>" width="70%">
      </div>
      <div class="description">
        <p><strong>Description:</strong></p>
        <p><%= description %></p>
      </div>

    </div>
    <% if (locals.isLoggedIn) { %>
      <div class="field is-grouped">
        <div><a href="/venues/<%= _id %>/edit" class="button shreddit-button">Edit this venue</a></div>
        <div>
          <form action="/venues/<%= _id %>?_method=DELETE" method="post">
            <button class="button shreddit-button">Delete this venue</button>
          </form>
        </div>
      </div>

    <div class="comments column is-12">
      <h4 class="title is-4">Comments</h4>
      <% reviews.forEach(review => {  %>
        <div class=""><%= review.username %></div>
        <div class=""><%= review.title %></div>
        <div class=""><%= review.content %></div>
        <div class=""><%= review.rating %></div>
        <div class=""><%= review.image %></div>
        <div class=""><%= review.date %></div>
        <div class="">
          <form action="/venues/<%= _id %>/reviews/<%= review._id %>?_method=DELETE" method="post">
            <button class="button shreddit-button">X</button>
          </form>
        </div>
      <% }) %>
    </div>

  <div class="columns">
      <form class="column is-12" action="/venues/<%= _id %>/reviews" method="post">
        <h5 class="title is-5">Add a comment</h5>
        <div class="field">
          <input type="hidden" name="username" value="<%= locals.currentUser.username %>" >
        </div>

        <div class="field">
          <label for="title">Title</label>
          <input type="text" name="title">
        </div>

        <div class="field">
          <label for="content">Content</label>
          <textarea name="content"></textarea>
        </div>

        <div class="field">
          <label for="rating">Rating</label>
          <input type="number" name="rating" min="1" max="5">
        </div>

        <div class="field">
          <label for="image">Image URL</label>
          <input type="text" name="image">
        </div>

        <button class="button shreddit-button">Post comment</button>
      </form>
      <% } %>
    </div>
  </div>
</main>
