<div class="">
  <h2><%= name %></h2>
  <div class="">
    <p><%= address %></p>
    <p><a href="<%= website %>" target="_blank">Website</a></p>
    <p>Capacity: <%= capacity %></p>
    <p>Closest Tube Station: <%= closestTube %></p>

    <div class="description">
      <p>Description:</p>
      <p><%= description %></p>
    </div>

  </div>

</div>
